.header1 {
    background-color: rgb(241 215 215);
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
}

.home {
    padding: 0px 40px 0px 00px;
    
    font-size: 25px;
}
a.accounting {
    padding: 0px 0px 0px 40px;
    
    font-size: 25px;
}


footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    background-color: rgb(241 215 215);
    height: 50px;
}

img.face1 {
    width: 50px;
    height: 50px;
}

img.twitter1 {
    width: 50px;
    height: 50px;
}

table, th, td {
    box-shadow: 3px -1px 3px #836c6c;
    border: 5px solid;
    width: 100%;
    border-color: black;
    background-color: #e9b4b4;
}

.main {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    background-color: #f3c9c991;
}